<?xml version="1.0"?>
<launch>

  <arg name="depth_prefix" default="/d435i/aligned_depth_to_color"/>
  <arg name="color_prefix" default="/d435i/color"/>

  <group ns="rtabmap">

    <node name="rtabmap_slam" pkg="rtabmap_ros" type="rtabmap" args="--delete_db_on_start">
      <param name="odom_frame_id" value="t265_odom_frame"/>
      <param name="odom_tf_angular_variane" value="0.00005"/>
      <param name="odom_tf_linear_variance" value="0.00001"/>
      <param name="frame_id" value="base_link"/>
      <param name="subscribe_odom_info" value="false"/>
      <param name="visual_odometry" value="false"/>
      <param name="map_always_update" value="true"/>

      <remap from="rgb/image"         to="$(arg color_prefix)/image_raw"/>
      <remap from="rgb/camera_info"   to="$(arg color_prefix)/camera_info"/>
      <remap from="depth/image"       to="$(arg depth_prefix)/image_raw"/>
      <remap from="depth/camera_info" to="$(arg depth_prefix)/camera_info"/>
    </node>

  </group>

</launch>
