<?xml version="1.0"?>
<launch>

  

  <group ns="rtabmap">
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">

      <param name="map_frame_id" value="map"/>
      <param name="odom_frame_id" value="odom"/>
      <param name="frame_id" value="base_link"/>

      <remap from="rgb/image" to="/camera/color/image_raw"/>
      <remap from="rgb/camera_info" to="/camera/color/camera_info"/>
      <remap from="depth/image" to="/camera/depth/color/image_raw"/>
      <remap from="odom" to="/mavros/local_position/odom"/>

    </node>
  </group>
</launch>
