<?xml version="1.0"?>
<launch>

    <include file="$(find covid_slam)/launch/iris_d435.launch"/>

    <node pkg="covid_slam" type="timed_roslaunch.sh" name="rtabmap" args="8 covid_slam rtabmap.launch"/>

    <node pkg="covid_slam" type="timed_roslaunch.sh" name="darknet" args="5 darknet_ros darknet_ros.launch"/>

    <node pkg="goal_gen" type="goal_gen" name="goal_gen"/>

</launch>
